@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
}
body._lock {
  overflow: hidden;
}

a {
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: -55px;
}

.container {
  max-width: 1220px;
  margin: 0px auto;
  padding: 0 20px 0;
}
@media (max-width: 1180px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.container_product-catalog {
  position: relative;
}

.first-screen {
  z-index: 0;
  position: relative;
  background: url("../img/First-screen/bg.jpg") 70% 50% no-repeat;
  background-size: cover;
  height: 1294px;
  color: #ffffff;
  padding: 37px 0;
}
@media (max-width: 992px) {
  .first-screen {
    background: url("../img/First-screen/bg_1711X1153.jpg") 70% 50% no-repeat;
    height: 1051px;
  }
}
@media (max-width: 767px) {
  .first-screen {
    height: 928px;
  }
}
.first-screen__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(126, 134, 142, 0.1);
}
@media (max-width: 767px) {
  .first-screen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding-bottom: 30px;
    row-gap: 40px;
  }
}
.first-screen__logo {
  font-weight: 500;
  font-size: 21px;
}
.first-screen__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 490px) {
  .first-screen__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.first-screen__address {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  max-width: 151px;
  padding-left: 29px;
}
@media (max-width: 490px) {
  .first-screen__address {
    padding-bottom: 20px;
  }
}
.first-screen__address::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 17px;
  height: 17px;
  background: url("../../img/First-screen/icon/01.svg") 50% no-repeat;
}
.first-screen__coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 69px;
}
@media (max-width: 490px) {
  .first-screen__coll {
    padding-left: 0px;
  }
}
.first-screen__tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 152%;
}
.first-screen__info {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
}
.first-screen__body {
  margin: 188px 0px 0px 0px;
  max-width: 687px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .first-screen__body {
    margin: 50px 0px 0px 0px;
    max-width: 487px;
  }
}
.first-screen__title {
  font-weight: 700;
  margin: 0px 0px 24px 0px;
}
.first-screen__nobr {
  white-space: nowrap;
}
.first-screen__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .first-screen__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .first-screen__button {
    margin: 0px 0px 15px 0px;
  }
}
.first-screen__text {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin: 0px 0px 0px 20px;
}
@media (max-width: 767px) {
  .first-screen__text::before {
    position: absolute;
    content: "";
    top: -56px;
    left: -20px;
    width: 179px;
    height: 177px;
    background: url("../../img/berry.png") center no-repeat;
    z-index: -1;
  }
}
.first-screen__berry {
  position: absolute;
  z-index: -1;
}
.first-screen__berry_1 {
  width: 195.65px;
  height: 201.41px;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  top: 200px;
  left: -70px;
}
.first-screen__berry_2 {
  width: 170px;
  height: 175px;
  -webkit-transform: rotate(159deg);
          transform: rotate(159deg);
  top: 160px;
  right: -50px;
}
@media (max-width: 992px) {
  .first-screen__berry_2 {
    display: none;
  }
}
.first-screen__berry_3 {
  width: 195.65px;
  height: 201.41px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 215px;
  right: 197px;
}
@media (max-width: 992px) {
  .first-screen__berry_3 {
    display: none;
  }
}
.first-screen__berry img, .first-screen__leaf img {
  width: 100%;
  height: 100%;
}
.first-screen__leaf {
  position: absolute;
  z-index: -1;
  width: 275px;
  height: 286px;
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
  bottom: 72px;
  left: -100px;
}
@media (max-width: 992px) {
  .first-screen__leaf {
    display: none;
  }
}

.predtitle {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #2e363e;
  padding: 10px 18px;
  background: #f2f6fa;
  border-radius: 5px;
  margin-bottom: 24px;
  line-height: 150%;
}

.title {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .title {
    font-size: 34px;
    line-height: 45px;
    letter-spacing: 0px;
  }
}
@media (max-width: 490px) {
  .title {
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 15px;
    letter-spacing: 0px;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 143%;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .subtitle {
    font-size: 18px;
    line-height: 143%;
    margin-bottom: 20px;
  }
}
@media (max-width: 490px) {
  .subtitle {
    font-size: 18px;
    line-height: 143%;
    margin-bottom: 20px;
  }
}

.button {
  display: inline-block;
  background: #fed84c;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding: 30px 50px;
  color: #2e363e;
}
@media (max-width: 767px) {
  .button {
    padding: 20px 25px;
    font-size: 16px;
  }
}

.product-catalog {
  margin-bottom: 30px;
  color: #2e363e;
}
.product-catalog__title {
  font-weight: 500;
  text-align: center;
  margin: 0px 0px 80px 0px;
}
@media (max-width: 767px) {
  .product-catalog__title {
    margin: 0px 0px 30px 0px;
  }
}
.product-catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-catalog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.2%;
          flex: 0 1 32.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1250px) {
  .product-catalog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}
@media (max-width: 540px) {
  .product-catalog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.product-catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-filter: drop-shadow(2px 8px 16px rgba(194, 198, 208, 0.06));
          filter: drop-shadow(2px 8px 16px rgba(194, 198, 208, 0.06));
}
.product-catalog__image {
  overflow: hidden;
  padding: 0 0 62.29% 0;
  position: relative;
  margin: 0px 0px 0px 0px;
}
.product-catalog__image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.product-catalog__body {
  overflow: hidden;
  height: 100%;
  padding: 50px 44px;
  border: 1px solid #f2f6fa;
  border-radius: 0px 0px 10px 10px;
}
@media (max-width: 490px) {
  .product-catalog__body {
    padding: 30px 24px;
  }
}
.product-catalog__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
  margin: 0px 0px 12px 0px;
}
@media (max-width: 767px) {
  .product-catalog__subtitle {
    font-size: 18px;
  }
}
.product-catalog__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 247px;
  margin: 0px 0px auto 0px;
  padding-bottom: 24px;
}
@media (max-width: 767px) {
  .product-catalog__text {
    padding-bottom: 15px;
  }
}
.product-catalog__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin: 0px 0px 14px 0px;
}
@media (max-width: 767px) {
  .product-catalog__price {
    font-size: 22px;
  }
}
.product-catalog__button {
  display: inline-block;
}
.product-catalog__berry {
  position: absolute;
  width: 170px;
  height: 174px;
  -webkit-transform: rotate(78deg);
          transform: rotate(78deg);
  top: 247px;
  left: -93px;
}
@media (max-width: 1400px) {
  .product-catalog__berry {
    top: 247px;
    left: -93px;
  }
}
.product-catalog__berry img, .product-catalog__leaf img {
  width: 100%;
  height: 100%;
}
.product-catalog__leaf {
  position: absolute;
}
.product-catalog__leaf_1 {
  z-index: -1;
  width: 108.93px;
  height: 112.99px;
  -webkit-transform: rotate(275deg);
          transform: rotate(275deg);
  bottom: 441px;
  left: -80px;
}
.product-catalog__leaf_2 {
  width: 161px;
  height: 167px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 53%;
  right: -90px;
}

.content-first {
  z-index: 0;
  position: relative;
  background: url("../img/content-first/bg.jpg") 60% 50% no-repeat;
  background-size: cover;
  height: 1294px;
  color: #ffffff;
  padding: 37px 0;
}
@media (max-width: 992px) {
  .content-first {
    background: url("../img/content-first/bg__1300.jpg") 50% 50% no-repeat;
    height: 791px;
  }
}
@media (max-width: 767px) {
  .content-first {
    background: url("../img/content-first/bg__1000.jpg") 50% 50% no-repeat;
    height: 640px;
    padding: 10px 0;
  }
}
.content-first__body {
  margin: 372px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 992px) {
  .content-first__body {
    margin: 130px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.content-first__block {
  max-width: 521px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .content-first__block {
    max-width: 487px;
  }
}
.content-first__title {
  font-weight: 500;
  margin: 0px 0px 24px 0px;
}
@media (max-width: 490px) {
  .content-first__title {
    letter-spacing: -1px;
    line-height: 30px;
    margin: 0px 0px 14px 0px;
  }
}
.content-first__subtitle {
  font-size: 21px;
  letter-spacing: -0.2px;
}
@media (max-width: 767px) {
  .content-first__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 490px) {
  .content-first__subtitle {
    font-size: 14px;
  }
}
.content-first__link {
  position: relative;
  display: inline-block;
}
.content-first__load {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.content-second {
  position: relative;
  z-index: 1;
  color: #2e363e;
}
.content-second__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1010px) {
  .content-second__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0px 20px 0px;
    gap: 40px;
  }
}
.content-second__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 97px 0;
  max-width: 580px;
  padding: 0 20px;
}
@media (max-width: 1300px) {
  .content-second__row {
    margin: 0;
  }
}
.content-second__title {
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  .content-second__title {
    margin-bottom: 16px;
    letter-spacing: -1px;
    line-height: 30px;
  }
}
.content-second__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin: 0px 0px 30px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  max-width: 438px;
}
@media (max-width: 767px) {
  .content-second__text {
    font-size: 14px;
    gap: 15px;
  }
}
.content-second__text li {
  position: relative;
  padding-left: 22px;
}
.content-second__text li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #5d6afb;
  border-radius: 50%;
}
.content-second__confectioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 580px;
          flex: 0 0 580px;
  position: relative;
}
@media (max-width: 1300px) {
  .content-second__confectioner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 380px;
            flex: 0 0 380px;
  }
}
.content-second__name {
  position: absolute;
  z-index: 1;
  bottom: 21%;
  left: -92px;
  width: 49.483%;
  height: 112px;
}
@media (max-width: 1300px) {
  .content-second__name {
    left: 0;
  }
}
@media (max-width: 640px) {
  .content-second__name {
    bottom: 0;
  }
}
.content-second__name img {
  width: 100%;
}
.content-second__image {
  width: 100%;
  border-radius: 307px;
  overflow: hidden;
}
.content-second__image img {
  width: 100%;
}

.reviews {
  position: relative;
  background-color: #081130;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__header {
  z-index: 0;
  margin-top: -50px;
  width: 100%;
  height: 330px;
  background: url(../img/reviews/bg_01.png) no-repeat;
  background-size: cover;
}
@media (max-width: 500px) {
  .reviews__header {
    height: 157px;
  }
}
@media (max-width: 1000px) {
  .reviews__container {
    max-width: 100%;
  }
}
.reviews__body {
  margin: -10px 0px 0px 0px;
}
.reviews__title {
  color: #fff;
  text-align: center;
  margin: 0px 0px 80px 0px;
}
@media (max-width: 680px) {
  .reviews__title {
    margin: 0px 0px 40px 0px;
  }
}
.reviews__row {
  margin: 0px 0px 70px 0px;
}
@media (max-width: 680px) {
  .reviews__row {
    margin: 0px 0px 30px 0px;
  }
}
.reviews__item {
  background: #ffffff;
  border: 2px solid #e2eaf2;
  /* Тень */
  -webkit-box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
          box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 68px 141px;
  gap: 54px;
}
@media (max-width: 1000px) {
  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 38px 101px;
  }
}
@media (max-width: 680px) {
  .reviews__item {
    padding: 15px 20px;
    gap: 24px;
  }
}
.reviews__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.reviews__quotes {
  width: 40px;
  height: 40px;
  opacity: 0.9;
}
@media (max-width: 680px) {
  .reviews__quotes {
    width: 20px;
    height: 20px;
  }
}
.reviews__quotes img {
  width: 100%;
}
.reviews__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 143%;
}
@media (max-width: 680px) {
  .reviews__subtitle {
    font-size: 20px;
    line-height: 113%;
  }
}
.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  color: #2e363e;
}
@media (max-width: 680px) {
  .reviews__text {
    font-size: 14px;
    line-height: 110%;
  }
}
.reviews__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4a94ff;
  background-color: inherit;
  text-align: start;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
}
.reviews__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 42.698%;
          flex: 1 0 42.698%;
}
@media (max-width: 1000px) {
  .reviews__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media (max-width: 680px) {
  .reviews__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.reviews__image picture {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inherit;
}
.reviews__image img {
  width: 100%;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 1000px) {
  .reviews__image img {
    width: 50%;
  }
}
.reviews__name {
  text-align: center;
  margin: 0px 0px 6px 0px;
  font-weight: 500;
  font-size: 21px;
  line-height: 143%;
  color: #2e363e;
}
@media (max-width: 680px) {
  .reviews__name {
    font-size: 16px;
    line-height: 110%;
  }
}
.reviews__sity {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #a6aeb6;
}
@media (max-width: 680px) {
  .reviews__sity {
    font-size: 14px;
    line-height: 110%;
  }
}
.reviews__button-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.reviews__berry {
  position: absolute;
  top: 390px;
  right: 218px;
  z-index: 1;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  width: 152px;
  height: 156px;
}
@media (max-width: 1000px) {
  .reviews__berry {
    top: auto;
    z-index: 0;
    bottom: 15%;
    right: 0%;
  }
}
.reviews__leaf {
  position: absolute;
  top: 257px;
  left: 291px;
  -webkit-transform: rotate(63deg);
          transform: rotate(63deg);
  width: 126.68px;
  height: 131.96px;
}
.reviews__berry img, .reviews__leaf img {
  width: 100%;
}
.reviews__footer {
  z-index: 0;
  width: 100%;
  height: 284px;
  background: url(../img/reviews/bg_02.png) no-repeat;
  background-size: cover;
  margin: 0px 0px -1px 0px;
}
@media (max-width: 500px) {
  .reviews__footer {
    height: 72px;
  }
}

.button-arrow__left, .button-arrow__right {
  width: 66px;
  height: 66px;
  background-color: #fed84c;
  border-radius: 50%;
}
@media (max-width: 780px) {
  .button-arrow__left, .button-arrow__right {
    width: 36px;
    height: 36px;
  }
}
.button-arrow__left img, .button-arrow__right img {
  width: 40%;
  height: 40%;
}
.button-arrow__right {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.swiper {
  overflow: visible;
}

.swiper-slide-active {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.1;
  scale: 0.8;
}

.swiper-slide-prev {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.gallery {
  color: #2e363e;
}
.gallery__title {
  text-align: center;
  margin: 0px 0px 14px 0px;
  padding: 0 15px;
}
.gallery__subtitle {
  text-align: center;
  margin: 0px 0px 80px 0px;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .gallery__subtitle {
    margin: 0px 0px 40px 0px;
  }
}
.gallery__row {
  gap: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3%;
          flex: 1 1 33.3%;
}
.gallery__column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}