// @import url("@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');");
// файл обнуляющих стилей

@import "normalize.scss";

body {
	font-family: "Montserrat", sans-serif;
	&._lock {
		overflow: hidden;
	}
}

a {
	color: inherit;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
	margin-top: -55px;
}

.container {
	max-width: 1220px;
	margin: 0px auto;
	padding: 0 20px 0;

	@media (max-width: 1180px) {
		max-width: 970px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 767px) {
		max-width: none;
	}
	&_product-catalog {
		position: relative;
	}
}

.first-screen {
	z-index: 0;
	position: relative;
	background: url("../img/First-screen/bg.jpg") 70% 50% no-repeat;
	background-size: cover;
	height: 1294px;
	color: #ffffff;
	padding: 37px 0;
	// @media (max-width: 1180px) {
	// 	background: url("../img/First-screen/bg.jpg") 70% 50% no-repeat;
	// }
	@media (max-width: 992px) {
		background: url("../img/First-screen/bg_1711X1153.jpg") 70% 50% no-repeat;
		height: 1051px;
	}
	@media (max-width: 767px) {
		height: 928px;
	}

	// .first-screen__header

	&__header {
		display: flex;
		height: 82px;
		justify-content: space-between;
		border-bottom: 1px solid rgba(126, 134, 142, 0.1);
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
			height: auto;
			padding-bottom: 30px;
			row-gap: 40px;
		}
	}

	// .first-screen__logo

	&__logo {
		font-weight: 500;
		font-size: 21px;
	}

	// .first-screen__contact

	&__contact {
		display: flex;
		@media (max-width: 490px) {
			flex-direction: column;
		}
	}

	// .first-screen__address

	&__address {
		position: relative;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		max-width: 151px;
		padding-left: 29px;
		@media (max-width: 490px) {
			padding-bottom: 20px;
		}
		&::before {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 17px;
			height: 17px;
			background: url("../../img/First-screen/icon/01.svg") 50% no-repeat;
		}
	}

	// .first-screen__coll

	&__coll {
		display: flex;
		flex-direction: column;
		padding-left: 69px;
		@media (max-width: 490px) {
			padding-left: 0px;
		}
	}

	// .first-screen__tel

	&__tel {
		font-weight: 700;
		font-size: 20px;
		line-height: 152%;
	}

	// .first-screen__info

	&__info {
		font-weight: 400;
		font-size: 13px;
		line-height: 150%;
	}

	// .first-screen__body

	&__body {
		margin: 188px 0px 0px 0px;
		max-width: 687px;
		padding: 0 20px;
		@media (max-width: 767px) {
			margin: 50px 0px 0px 0px;
			max-width: 487px;
		}
	}
	// .first-screen__predtitle

	&__predtitle {
	}

	// .first-screen__title

	&__title {
		font-weight: 700;
		margin: 0px 0px 24px 0px;
	}

	&__nobr {
		white-space: nowrap;
	}
	// .first-screen__subtitle

	&__subtitle {
	}

	// .first-screen__link

	&__link {
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .first-screen__button

	&__button {
		@media (max-width: 767px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .first-screen__text

	&__text {
		position: relative;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		margin: 0px 0px 0px 20px;
		@media (max-width: 767px) {
			&::before {
				position: absolute;
				content: "";
				top: -56px;
				left: -20px;
				width: 179px;
				height: 177px;
				background: url("../../img/berry.png") center no-repeat;
				z-index: -1;
			}
		}
	}

	&__berry {
		position: absolute;
		z-index: -1;
		&_1 {
			width: 195.65px;
			height: 201.41px;
			transform: rotate(100deg);
			top: 200px;
			left: -70px;
			// @media (max-width: 992px) {
			// 	width: 170px;
			// 	height: 175px;
			// }
		}
		&_2 {
			width: 170px;
			height: 175px;
			transform: rotate(159deg);
			top: 160px;
			right: -50px;
			@media (max-width: 992px) {
				display: none;
			}
		}
		&_3 {
			width: 195.65px;
			height: 201.41px;
			transform: rotate(0deg);
			bottom: 215px;
			right: 197px;
			@media (max-width: 992px) {
				display: none;
			}
		}
	}
	&__berry img,
	&__leaf img {
		width: 100%;
		height: 100%;
	}
	&__leaf {
		position: absolute;
		z-index: -1;
		width: 275px;
		height: 286px;
		transform: rotate(13deg);
		bottom: 72px;
		left: -100px;
		@media (max-width: 992px) {
			display: none;
		}
	}
}

.predtitle {
	display: inline-block;
	align-items: center;
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #2e363e;
	padding: 10px 18px;
	background: #f2f6fa;
	border-radius: 5px;
	margin-bottom: 24px;
	line-height: 150%;
}
.title {
	font-size: 48px;
	line-height: 60px;
	letter-spacing: -1px;
	@media (max-width: 767px) {
		font-size: 34px;
		line-height: 45px;
		letter-spacing: 0px;
	}
	@media (max-width: 490px) {
		font-size: 24px;
		line-height: 40px;
		padding-bottom: 15px;
		letter-spacing: 0px;
	}
}

.subtitle {
	font-weight: 400;
	font-size: 24px;
	line-height: 143%;
	margin-bottom: 40px;
	@media (max-width: 767px) {
		font-size: 18px;
		line-height: 143%;
		margin-bottom: 20px;
	}
	@media (max-width: 490px) {
		font-size: 18px;
		line-height: 143%;
		margin-bottom: 20px;
	}
}
.button {
	display: inline-block;
	background: #fed84c;
	border-radius: 8px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	padding: 30px 50px;
	color: #2e363e;
	@media (max-width: 767px) {
		padding: 20px 25px;
		font-size: 16px;
	}
}

.product-catalog {
	margin-bottom: 30px;
	color: #2e363e;

	// .product-catalog__title

	&__title {
		font-weight: 500;
		text-align: center;
		margin: 0px 0px 80px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .product-catalog__row

	&__row {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
	}

	// .product-catalog__column

	&__column {
		flex: 0 1 32.2%;
		display: flex;
		@media (max-width: 1250px) {
			flex: 0 1 48%;
		}
		@media (max-width: 540px) {
			flex: 0 1 100%;
		}
	}

	// .product-catalog__item

	&__item {
		display: flex;
		flex-direction: column;
		width: 100%;
		filter: drop-shadow(2px 8px 16px rgba(194, 198, 208, 0.06));
	}

	// .product-catalog__image

	&__image {
		overflow: hidden;
		padding: 0 0 62.29% 0;
		position: relative;
		margin: 0px 0px 0px 0px;
	}

	&__image img {
		width: 100%;
		height: 100%;
		border-radius: 10px 10px 0px 0px;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__body {
		overflow: hidden;
		height: 100%;
		padding: 50px 44px;
		border: 1px solid #f2f6fa;
		border-radius: 0px 0px 10px 10px;
		@media (max-width: 490px) {
			padding: 30px 24px;
		}
	}
	// .product-catalog__subtitle

	&__subtitle {
		font-weight: 700;
		font-size: 24px;
		line-height: 143%;
		margin: 0px 0px 12px 0px;
		@media (max-width: 767px) {
			font-size: 18px;
		}
	}

	// .product-catalog__text

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		max-width: 247px;
		margin: 0px 0px auto 0px;
		padding-bottom: 24px;
		@media (max-width: 767px) {
			padding-bottom: 15px;
		}
	}

	// .product-catalog__price

	&__price {
		font-weight: 500;
		font-size: 24px;
		line-height: 150%;
		margin: 0px 0px 14px 0px;
		@media (max-width: 767px) {
			font-size: 22px;
		}
	}

	// .product-catalog__button

	&__button {
		display: inline-block;
	}

	&__berry {
		position: absolute;
		width: 170px;
		height: 174px;
		transform: rotate(78deg);
		top: 247px;
		left: -93px;
		@media (max-width: 1400px) {
			top: 247px;
			left: -93px;
		}
	}
	&__berry img,
	&__leaf img {
		width: 100%;
		height: 100%;
	}
	&__leaf {
		position: absolute;
		&_1 {
			z-index: -1;
			width: 108.93px;
			height: 112.99px;
			transform: rotate(275deg);
			bottom: 441px;
			left: -80px;
		}
		&_2 {
			width: 161px;
			height: 167px;
			transform: rotate(0deg);
			top: 53%;
			right: -90px;
		}
	}
}

.content-first {
	z-index: 0;
	position: relative;
	background: url("../img/content-first/bg.jpg") 60% 50% no-repeat;
	background-size: cover;
	height: 1294px;
	color: #ffffff;
	padding: 37px 0;
	@media (max-width: 992px) {
		background: url("../img/content-first/bg__1300.jpg") 50% 50% no-repeat;
		height: 791px;
	}
	@media (max-width: 767px) {
		background: url("../img/content-first/bg__1000.jpg") 50% 50% no-repeat;
		height: 640px;
		padding: 10px 0;
	}
	// .content-first__body

	&__body {
		margin: 372px 0px 0px 0px;
		display: flex;
		justify-content: flex-end;
		@media (max-width: 992px) {
			margin: 130px 0px 0px 0px;
			justify-content: center;
		}
	}

	&__block {
		max-width: 521px;
		padding: 0 20px;
		@media (max-width: 767px) {
			max-width: 487px;
		}
	}

	// .content-first__predtitle

	&__predtitle {
	}

	// .content-first__title

	&__title {
		font-weight: 500;
		margin: 0px 0px 24px 0px;
		@media (max-width: 490px) {
			letter-spacing: -1px;
			line-height: 30px;
			margin: 0px 0px 14px 0px;
		}
	}

	// .content-first__nobr

	&__nobr {
	}

	// .content-first__subtitle

	&__subtitle {
		font-size: 21px;
		letter-spacing: -0.2px;
		@media (max-width: 767px) {
			font-size: 18px;
		}
		@media (max-width: 490px) {
			font-size: 14px;
		}
	}

	// .content-first__link

	&__link {
		position: relative;
		display: inline-block;
	}

	// .content-first__button

	&__button {
	}

	&__load {
		cursor: pointer;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	// .content-first__text
}

.content-second {
	position: relative;
	z-index: 1;
	color: #2e363e;
	// .content-second__body

	&__body {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		@media (max-width: 1010px) {
			flex-direction: column;
			align-items: center;
			margin: 10px 0px 20px 0px;
			gap: 40px;
		}
	}

	&__row {
		flex: 1 1 50%;
		margin: 97px 0;
		max-width: 580px;
		padding: 0 20px;
		@media (max-width: 1300px) {
			margin: 0;
		}
	}

	// .content-second__predtitle

	&__predtitle {
	}

	// .content-second__title

	&__title {
		margin-bottom: 36px;
		@media (max-width: 767px) {
			margin-bottom: 16px;
			letter-spacing: -1px;
			line-height: 30px;
		}
	}

	// .content-second__subtitle

	&__text {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin: 0px 0px 30px 0px;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		max-width: 438px;
		@media (max-width: 767px) {
			font-size: 14px;
			gap: 15px;
		}
	}

	&__text li {
		position: relative;
		padding-left: 22px;
		&::before {
			content: "";
			position: absolute;
			top: 7px;
			left: 0;
			width: 10px;
			height: 10px;
			background-color: #5d6afb;
			border-radius: 50%;
		}
	}

	// .content-second__link

	&__link {
	}

	// .content-second__button

	&__button {
	}

	&__confectioner {
		display: flex;
		align-items: center;
		flex: 0 0 580px;
		position: relative;
		@media (max-width: 1300px) {
			flex: 0 0 380px;
		}
	}

	&__name {
		position: absolute;
		z-index: 1;
		bottom: 21%;
		left: -92px;
		width: 49.483%;
		height: 112px;
		@media (max-width: 1300px) {
			left: 0;
		}
		@media (max-width: 640px) {
			bottom: 0;
		}
	}

	&__name img {
		width: 100%;
	}

	&__image {
		// height: 100%;
		width: 100%;
		border-radius: 307px;
		overflow: hidden;
	}

	&__image img {
		width: 100%;
	}
}

.reviews {
	position: relative;
	background-color: #081130;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// .reviews__header

	&__header {
		z-index: 0;
		margin-top: -50px;
		width: 100%;
		height: 330px;
		background: url(../img/reviews/bg_01.png) no-repeat;
		background-size: cover;
		@media (max-width: 500px) {
			height: 157px;
		}
	}

	&__container {
		@media (max-width: 1000px) {
			max-width: 100%;
		}
	}

	&__body {
		margin: -10px 0px 0px 0px;
	}

	// .reviews__title

	&__title {
		color: #fff;
		text-align: center;
		margin: 0px 0px 80px 0px;
		@media (max-width: 680px) {
			margin: 0px 0px 40px 0px;
		}
	}

	// .reviews__row

	&__row {
		margin: 0px 0px 70px 0px;
		@media (max-width: 680px) {
			margin: 0px 0px 30px 0px;
		}
	}

	// .reviews__column

	&__column {
	}

	// .reviews__item

	&__item {
		background: #ffffff;
		border: 2px solid #e2eaf2;
		/* Тень */
		box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
		border-radius: 5px;
		display: flex;
		padding: 68px 141px;
		gap: 54px;
		@media (max-width: 1000px) {
			flex-direction: column-reverse;
			padding: 38px 101px;
		}
		@media (max-width: 680px) {
			padding: 15px 20px;
			gap: 24px;
		}
	}

	// .reviews__info

	&__info {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	// .reviews__quotes

	&__quotes {
		width: 40px;
		height: 40px;
		opacity: 0.9;
		@media (max-width: 680px) {
			width: 20px;
			height: 20px;
		}
	}

	&__quotes img {
		width: 100%;
	}

	// .reviews__subtitle

	&__subtitle {
		font-weight: 500;
		font-size: 30px;
		line-height: 143%;
		@media (max-width: 680px) {
			font-size: 20px;
			line-height: 113%;
		}
	}

	// .reviews__text

	&__text {
		font-weight: 400;
		font-size: 15px;
		line-height: 170%;
		color: #2e363e;
		@media (max-width: 680px) {
			font-size: 14px;
			line-height: 110%;
		}
	}

	// .reviews__button

	&__button {
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: #4a94ff;
		background-color: inherit;
		text-align: start;
		text-decoration: underline dashed;
	}

	// .reviews__image

	&__image {
		// width: 100%;
		// height: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 0 42.698%;
		@media (max-width: 1000px) {
			flex: 1 0 auto;
		}
		@media (max-width: 680px) {
			flex: 1 0 50%;
			align-items: center;
		}
	}

	&__image picture {
		justify-content: center;
		display: inherit;
	}

	&__image img {
		width: 100%;
		margin: 0px 0px 30px 0px;
		@media (max-width: 1000px) {
			width: 50%;
		}
	}

	// .reviews__name

	&__name {
		text-align: center;
		margin: 0px 0px 6px 0px;
		font-weight: 500;
		font-size: 21px;
		line-height: 143%;
		color: #2e363e;
		@media (max-width: 680px) {
			font-size: 16px;
			line-height: 110%;
		}
	}

	// .reviews__sity

	&__sity {
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 170%;
		text-align: center;
		color: #a6aeb6;
		@media (max-width: 680px) {
			font-size: 14px;
			line-height: 110%;
		}
	}

	&__button-arrow {
		display: flex;
		justify-content: center;
		gap: 24px;
	}

	// .reviews__berry

	&__berry {
		position: absolute;
		top: 390px;
		right: 218px;
		z-index: 1;
		transform: rotate(7deg);
		width: 152px;
		height: 156px;
		@media (max-width: 1000px) {
			top: auto;
			z-index: 0;
			bottom: 15%;
			right: 0%;
		}
	}

	// .reviews__leaf

	&__leaf {
		position: absolute;
		top: 257px;
		left: 291px;
		transform: rotate(63deg);
		width: 126.68px;
		height: 131.96px;
	}

	&__berry img,
	&__leaf img {
		width: 100%;
	}

	// .reviews__footer

	&__footer {
		z-index: 0;
		width: 100%;
		height: 284px;
		background: url(../img/reviews/bg_02.png) no-repeat;
		background-size: cover;
		margin: 0px 0px -1px 0px;
		@media (max-width: 500px) {
			height: 72px;
		}
	}
}

.button-arrow {
	// .button-arrow__left

	&__left,
	&__right {
		width: 66px;
		height: 66px;
		background-color: #fed84c;
		border-radius: 50%;
		@media (max-width: 780px) {
			width: 36px;
			height: 36px;
		}
	}

	&__left img,
	&__right img {
		width: 40%;
		height: 40%;
	}

	&__right {
		transform: rotate(-180deg);
	}
}

.swiper {
	overflow: visible;
}

.swiper-slide-active {
	transition: all ease-in-out 0.5s;
}

.swiper-slide-prev,
.swiper-slide-next {
	opacity: 0.1;
	scale: 0.8;
}

.swiper-slide-prev {
	transition: all ease-in-out 0.5s;
}

.gallery {
	color: #2e363e;
	// .gallery__title

	&__title {
		text-align: center;
		margin: 0px 0px 14px 0px;
		padding: 0 15px;
		// @media (max-width: 1000px) {
		// 	font-size: 38px;
		// }
		// @media (max-width: 767px) {
		// 	font-size: 32px;
		// }
	}

	// .gallery__subtitle

	&__subtitle {
		text-align: center;
		margin: 0px 0px 80px 0px;
		padding: 0 15px;
		@media (max-width: 767px) {
			margin: 0px 0px 40px 0px;
		}
	}

	// .gallery__row

	&__row {
		gap: 9px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__column {
		flex: 1 1 33%;
		// max-width: 634px;
	}

	&__column img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.forms {
	background-color: #081130;
	padding: 0px 0px 80px 0px;

	&__header {
		z-index: 0;
		margin-top: -50px;
		width: 100%;
		height: 330px;
		background: url(../img/reviews/bg_01.png) no-repeat;
		background-size: cover;
		@media (max-width: 500px) {
			height: 157px;
		}
	}

	// .forms__form

	&__form {
		background-color: #fff;
		padding: 70px 99px;
		border-radius: 8px;
		@media (max-width: 767px) {
			padding: 30px 20px;
		}
	}

	// .forms__title

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 133%;
		text-align: center;
		color: #2e363e;
		margin: 0px 0px 12px 0px;
		@media (max-width: 1180px) {
			font-size: 30px;
			line-height: 133%;
		}
		@media (max-width: 992px) {
			font-size: 28px;
			line-height: 123%;
		}
		@media (max-width: 767px) {
			font-size: 24px;
			line-height: 113%;
		}
		@media (max-width: 500px) {
			font-size: 20px;
			line-height: 113%;
		}
	}

	// .forms__subtitle

	&__subtitle {
		font-size: 21px;
		text-align: center;
		letter-spacing: -0.2px;
		color: #2e363e;
		margin: 0px 0px 36px 0px;
		@media (max-width: 1180px) {
			font-size: 18px;
		}
		@media (max-width: 992px) {
			font-size: 16px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}

	// .forms__field

	&__field {
		position: relative;
		margin: 0 auto 24px;
		display: flex;
		gap: 20px;
		max-width: 780px;
		@media (max-width: 767px) {
			flex-direction: column;
		}
		&::before {
			content: "";
			position: absolute;
			top: 30px;
			left: 26px;
			width: 24px;
			height: 24px;
			z-index: 1;
			background: url("../img/form/icons/tel.svg") 50% no-repeat;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		}
	}

	// .forms__input

	&__input {
		position: relative;
		overflow: hidden;
		flex: 1 0 48.718%;
		background: #f2f6fa;
		border-radius: 8px;
		padding: 32px 20px 29px 58px;
	}

	// .forms__button

	&__button {
		flex: 0 1 48.718%;
	}

	// .forms__approval

	&__approval {
		text-align: center;
		font-weight: 400;
		font-size: 11px;
		line-height: 130%;
		color: #7e868e;
		@media (max-width: 500px) {
			font-size: 10px;
		}
	}

	&__approval p {
		display: inline-block;
	}

	&__approval a {
		display: inline-block;
		text-decoration: underline;
	}
}
